// === overloadable in base.scss settings =========

$font-family_base: Tahoma, Verdana, sans-serif;
$font-size_base: 11px;
$font-family_custom: "PFDinTextCondProThin", Tahoma, Arial, Verdana, sans-serif;
$font-family_custom_bold: "PFDinTextCondProRegular", Verdana, sans-serif;

@mixin font-face($family, $url-without-ext, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: "#{$family}";
    src: font-url("#{$url-without-ext}.eot");
    src: font-url("#{$url-without-ext}.eot?#iefix") format("embedded-opentype"),
         font-url("#{$url-without-ext}.woff") format("woff"),
         font-url("#{$url-without-ext}.ttf") format("truetype"),
         font-url("#{$url-without-ext}.svg##{$family}") format("svg");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@mixin font($font-family, $font-size: false, $line-height: false) {
  font-family: $font-family;
  @if $font-size {
    font-size: $font-size;
  }
  @if $line-height {
    line-height: $line-height;
  }
}

@mixin font_base($font-size: $font-size_base, $line-height: false) {
  @include font($font-family_base, $font-size, $line-height);
}

// TODO http://paulirish.com/2010/font-face-gotchas/
// TODO -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac. */
@mixin font_custom($font-size: false, $line-height: false, $font-family: $font-family_custom) {
  font-weight: normal;
  font-style: normal;
  @include font($font-family, $font-size, $line-height);
}
